/* $Id$ */

img { border: 0; }

#dirlist.narrow { text-align: left; margin-left: 200px; }
#dirlist.wide { margin-left:0px; }
#dirlist table { width:99%; font:normal 10pt/normal Arial; margin:0 auto; cursor:default; background-color:#f0f0f0; border:2px solid #d0d0d0; }
#dirlist td { border-bottom: 1px solid #d8d8d8; }
#dirlist img { margin-left: 5px; }
#dirlist table tr.selected { background-color: #e7e7e7; }
#dirlist table tr { background-color: #f0f0f0; }
#dirlist a:hover { color: red; text-decoration: none; }

#tree { float:left; position:relative; }
#tree .selected { background-color: #e7e7e7; }
#tree a:hover { color: red; text-decoration: none; }
#tree li { background-color: #f0f0f0; }
#dirtree { border: solid #d0d0d0 2px; padding:5px 5px 20px 5px; white-space:nowrap; width:180px; overflow:auto; background-color: #f0f0f0; }
#ftptree { border: solid #d0d0d0 2px; padding:5px 5px 20px 5px; white-space:nowrap; width:180px; overflow:auto; background-color: #f0f0f0; }
#dirtree ul { margin:0; padding:0; }
#ftptree ul { margin:0; padding:0; }
#dirtree li { margin:0; padding-left:20px; list-style:none; }
#ftptree li { margin:0; padding-left:20px; list-style:none; }

#dirtreediv { color: #2092d0; font: bold 10pt/normal Arial; }
#dirtreediv hr { color: #d0d0d0; width: 100%; }
#dirtreeexp { padding-left: 10px; }
#dirtree_ul_0 { position:relative; left: -20px; }

#ftptreediv { color: #2092d0; font: bold 10pt/normal Arial; }
#ftptreediv hr { color: #d0d0d0; width: 100%; }
#ftptreeexp { padding-left: 10px; }
#ftptree_ul_0 { position:relative; left: -20px; }

#webfm-attach { margin:0; padding:0;  width: 100%; }
#webfm-attach table { width:100%; font: normal 10pt/normal Arial; margin: 0 auto; cursor: default; background-color: #f0f0f0; border: 2px solid #d0d0d0; }
#webfm-attach td { border-bottom: 1px solid #d8d8d8; }
#webfm-attach img { margin-left: 5px; }

#dragCont ul { margin:0; padding:0; }
#dragCont li { margin:0; padding-left:20px; list-style-type:none; }

#cxtCont { border:1px solid #202867; background-color:#FFF; }
#cxtCont ul { list-style-type:none; margin:0; padding:0;}
#cxtCont ul li {padding:3px;}
#cxtCont ul li.cxtContHover { background-color:#E2EBED; color:red; cursor:pointer; }

#filesearch { clear: left; }
#metadata { clear: left; }
#debug { clear: left; }
#alertbox { margin: 10px; }

.alertspan { background-color: #ffff00; color: #a00000; font: bold 12px/normal Arial; }
.g { color: green; font-size: 120%; }
.progress { color: white; font: bold 8pt/normal Arial; visibility: hidden; }

.navi { color: #2092d0; background-color: #f0f0f0; font: normal 10pt/normal Arial; text-align: left; line-height: 25px; }
.navi a { color:#2092d0; font: bold 10pt/normal Arial; }
.navi a:hover { color: red; text-decoration: none; }

.head { color: #2092d0; background-color: #e0e0e0; font: bold 10pt/normal Arial; }
.head a { text-decoration: none; color: #2092d0; font: bold 10pt/normal Arial; }
.head a:hover { color: red; text-decoration: none; }

.txt { font: normal 10pt/normal Arial; text-align: left; padding-left: 10px; padding-right: 10px; }
